html, body {
	margin: 0;
	padding: 0;
        height: 100%;
        width: 100%;
}

#chat {
    height: 100%;
}

* {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#landing {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: green;
}

#landing input {
	width: 50%;
	text-align: center;
}

#messages {
        height: 70%;
	width: 100%;
        overflow-y: scroll;
        overflow-x: visible;
}

#txt{
	display: inline-block;
	vertical-align:middle;
	font-size: 30;
}

#input-area,#send {
    float: left;
}
