html, body {
	margin: 0;
	padding: 0;
}

#messages {
	height: 20em;
	width: 100%;
	background-color: blue;
}

#txt{
	display: inline-block;
	vertical-align:middle;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 30;
	background-color: blue;
}
